.category{
    padding: 100px 0 0;
}
.category-top{
    margin-bottom: 30px;
}
.category-top p{
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0 12px;
    font-size: 12px;
}
.category-left{
    width: 20%;
}
.category-right{
    width: 80%;
}
.category-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #0a0e14;
    margin-left: 200px;
}
.category-right-top-item{
    flex: 1;
    padding: 0 12px;
    float: left;
}
.category-right-top-item button{
    width: 200px;
    padding: 10px 15px;
     margin-left: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid black;
    cursor: pointer;
}
.category-right-top-item select{
    width: 200px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid black;
    cursor: pointer;
}
